@keyframes insert {
  from {
    transform: scale(0.5) translateY(-15%);
    background: white;
    border-width: 2px solid e3e0dc;
  }
  to {
    transform: scale(1) translateY(0);
    background: #a0aee8;
    border: none;
  }
}

li {
  list-style-type: none;
}

.main {
  background: #f5f5f5;
}

.upper-section {
  justify-content: center;
  display: flex;
  border: 1px dashed darkblue;
  padding: 64px;
}

.lower-section {
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px dashed darkgreen;
  padding: 24px;
  gap: 8px;
}

.item-wrapper {
  display: flex;
  justify-content: center;
}

// WORD_PART

.word-part {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a0aee8;
  padding: 8px 24px;
  .word-part-text {
    font-size: 32px;
    color: white;
  }
  &.success {
    animation: insert 1s linear both;
  }
}

.placeholder {
  transition: all 0.5s linear;
  padding: 8px;
  opacity: 0;
  width: 0;
  border-radius: 4px;
  &.expanded {
    background: #a0aee8;
    margin: 0px 8px;
    opacity: 0.5;
    padding: 0px;
  }
  &.success {
    transition: unset;
  }
}

// CARD

.card {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 8px 24px;
  border: 2px solid #e3e0dc;
  .card-text {
    font-size: 26px;
    color: #e3e0dc;
  }
}
